/* This all seems a little messy to me. Not sure how to clean this up.*/

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box
  box-sizing: border-box;
}
/*unclear on the priority "DOM" of the CSS file*/

*{
  margin : 8px;
  /*border : red solid 2px;*/
  /*background-color : rgba(0,0,100,0.05);*/
}
.header-image {
  width: 400px;
  height: 400px;
  border-radius: 425px;
}
.image-container {
  text-align:;
}

body {
  padding: 10px 10px;
  font-family: arial;
  font-size: 1.2em;
  max-width: 2000px; 
}

h1 {
  text-align: center;
  color: none;
}

h2 {
  text-align: center;
  color: none;
}

p {
  margin: 20px;
  background-color: orange;
	padding: 4px;
	border-radius: 4px;
	color: black;
}

li {
  background-color: orange;
	font-size: 20px;
	/*line-height: 44px;*/
} 

.concept {
	background-color: blue;
	padding: 10px;
	margin: 20px;
	border-radius: 20px;
	color: red;
}

.idea {
	background-color: white;
	padding: 4px;
	margin: 10px;
	border-radius: 4px;
	color: black;
}

.info {
	background-color: white;
	padding: 4px;
	margin: 10px;
	border-radius: 4px;
	color: black;
}